
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0b1220;
    color: #e5e7eb;
    line-height: 1.6;
}


/* Navigation */

header {
    background: #111827;
    border-bottom: 1px solid #263244;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: #38bdf8;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
}

.nav-links a:hover {
    color: #38bdf8;
}

.hero {
    min-height: 600px;
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 60px 20px;
}

.hero-text {
    max-width: 700px;
}

.welcome {
    color: #38bdf8;
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 25px;
}
.hero h1 span {
    color: #38bdf8;
}

.hero p {
    color: #aeb8c7;
    font-size: 18px;
    max-width: 650px;
    margin-bottom: 30px;
}
.button {
    display: inline-block;
    padding: 12px 25px;
    background: #38bdf8;
    color: #07111f;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.button:hover {
    background: #7dd3fc;
}
.section {
    max-width: 1000px;
    margin: auto;
    padding: 80px 20px;
}

.section h2 {
    color: #38bdf8;
    font-size: 32px;
    margin-bottom: 25px;
}

.section p {
    color: #b7c0ce;
    max-width: 750px;
}
.project-card {
    background: #151f32;
    border: 1px solid #263244;
    padding: 30px;
    border-radius: 10px;
    max-width: 700px;
}

.project-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.technologies {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.technologies span {
    background: #1e293b;
    color: #38bdf8;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 14px;
}

footer {
    text-align: center;
    padding: 25px;
    background: #111827;
    color: #8893a5;
    border-top: 1px solid #263244;
}

@media (max-width: 700px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 42px;
    }
}
